---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <style>
    .myquote{
         padding: 0em 1em;
         margin: 2em 0;
         color: #5d627b;
         background: white;
         border-top: solid 5px #5d627b;
         box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
     }
  </style>  
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      TeX: {
        Macros: {
                 bm: ["\\boldsymbol{#1}", 1],
              }
        }
      });
  </script>
  <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
   <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header>
  <div class="post-content" itemprop="articleBody">
      {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
  
